{% extends "AppVideoClub/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <h1>Inicio</h1>
  
    <h3>Podes buscar un cliente:</h3>

    <form action="/AppVideoClub/buscar/" method="GET">

        <input type="string" name="nombre">

        <input type="submit" value="Buscar">

    </form>
  

    {% if cliente %}

    <p>Estamos buscando el: {{cliente}}</p>

    <ul>
	{% for cliente in cliente %}
		<li> {{cliente.nombre}} </li>
		<li> {{cliente.apellido}} </li>
	{% endfor %}

    </ul>

    {% endif %}

{% endblock %}